.main--formulario {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  padding-top: 80px;       
  min-height: 100vh;
}


.form-contacto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  font-family: "Cardo", serif;
  font-size: 16px;
  width: 450px;
  max-width: 90%; 
  padding: 30px;
  background: rgba(0, 0, 0, 0.28); 
  border-radius: 14px;
  backdrop-filter: blur(6px);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

.form-contacto label {
  margin-bottom: 4px;
}

.form-contacto input,
.form-contacto textarea {
  padding: 12px;
  width: 100%;
  margin-bottom: 18px;
  border-radius: 8px;
  border: 1px solid #b88b8b;
  background-color: rgba(255, 255, 255, 0.06);
  font-size: 15px;
  transition: border-color 0.3s, background-color 0.3s;
  color: #ffff; /* correccion del segundo parcial */
}
.form-contacto button {
  background-color: #9f1212;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  width: 180px;
  transition: background-color 0.3s, transform 0.2s;
}

.contenedor-form-redes {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
  width: 100%;
  margin-top: 40px;
}

.section-redes {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Cardo", serif;
  font-size: 20px;
  text-align: justify;
  
}

.form-contacto input::placeholder,
.form-contacto textarea::placeholder {
  color: #d4c4c4;
}

.form-contacto button:hover {
  background-color: #b61616;
  transform: translateY(-2px);
}

.form-contacto button:active {
  transform: translateY(0);
}

.section-redes a {
  color: #DAF8F3; 
  font-weight: bold;
}

.section-redes a:hover {
  color: #ffffff;
  text-decoration: underline;
}