.elenco-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  flex: 1;
    font-family: "Cardo", serif;
}


.personaje-box{
    font-family: "Cardo", serif;
    display:flex;
     border-radius: 16px;
  padding: 24px;
  width: 500px;
  flex-direction: column;
  justify-content: space-between;
  border-color: brown;
  border-width: 2px;
}

.personaje-box img{
    width: 400px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.4s ease;
}

.personaje-box img:hover {
  border-radius: 15px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}