.fondo {
    background: linear-gradient(to bottom, #0e0700, #6f0505); 
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

header {
    background-image:
        linear-gradient(to bottom, rgba(0,0,0,0) 40%, #6f0505 100%),
        url("https://p4.wallpaperbetter.com/wallpaper/967/209/166/tv-show-the-sopranos-wallpaper-preview.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    background-position: center;
    padding-top: 10px;
    opacity: 0.95;
}

.navbar {
    color: #FFFFFF;
    font-weight: bold;
    padding: 35px;
    display: flex;
    justify-content: space-around;
}

.item-navbar {
    color: #fff;
  top: 50%;
  left: 50%;
  z-index: 2;
  padding: 10px 12px;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
  font-size: 15px;
}

.item-navbar:hover {
  background-color: #fff;
  border-color: transparent;
  color: #444;
}

h1 {
    color: #FFFFFF;
    text-align: center;
    margin-top: 1rem;
    font-family: "Cardo", serif;
}

main {
    padding: 2rem;
}


footer {
    color: rgb(171, 171, 171);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

ul li {
    list-style: circle;
    margin-left: 1.5rem;
}

ol li {
    font-size: 30 px;
}

a:visited { /* correccion pedida en el segundo parcial */ 
    color: #DAF8F3;
}