.sobre {
  font-family: "Cardo", serif;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  gap: 40px; 
  flex-wrap: wrap; 
}

.sinopsis-box,
.locacion-box {
  flex: 1;
  min-width: 300px;
  max-width: 48%;
  text-align: justify;
  font-family: "Cardo", serif;
  font-size: 25px;
  
}

.sinopsis-box h3,
.locacion-box h3 {
  text-align: center;
}

.articulos {
  text-align: justify;
  font-family: "Cardo", serif;
  font-size: 20px;
}

.locacion{
  font-family: "Cardo", serif;
  font-size: 20px;
}

.video-locacion {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}