.intro{
    text-align: center;
    padding-bottom: 20px;
    font-family: "Cardo", serif;
}

.temporadas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}

.texto-temp {
  flex: 1;
  font-family: "Cardo", serif;
  font-size: 20px;
  color: white;
  text-align: justify;
  padding-right: 30px;
}

.img-temp img {
  width: 400px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.4s ease;
}

.img-temp img:hover {
  border-radius: 15px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}